<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" [attr.ariaValuenow]="progressBlue" [style.width]="progressBlue + '%'">
          </div>
        </div>
        <br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [attr.ariaValuenow]="progressGreen"
            [style.width]="progressGreen + '%'">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-rising leyend="Progress Blue" [progress]="progressBlue" (changedValue)="progressBlue = $event">
        </app-rising>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-rising leyend="Progress Green" [progress]="progressGreen" (changedValue)="progressGreen = $event">
        </app-rising>
      </div>
    </div>
  </div>
</div>
